name: Generate Pacman Contribution Graph

on:
  schedule:
    - cron: "0 */24 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Generate pacman graph
        uses: Platane/snk@v3
        with:
          github_user_name: AdanChain
          outputs: |
            output/pacman-contribution-graph.svg
            output/pacman-contribution-graph-dark.svg?palette=github-dark

      - name: Push output
        uses: EndBug/add-and-commit@v9
        with:
          message: "Update pacman contribution graph"
          add: "output"